* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
a{
    color: #fff;
}
}
body{
  background-color: #cdd1e0;
  // background-color: #191929;
}

main {

  width: 100%;
  height: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #fff;
    .card-item {
      box-shadow: 1px 1px 18px 0px #837f7f;
      border: none;
      width: 350px;
      height: 600px;
      border-radius: 20px;
      background-image: url(../../../images/1a443eb02586eba402068c7b2ce08240.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      .playlist{
        border-radius: 20px;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;

/* From https://css.glass */
background: rgba(29, 31, 49, 0.72);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(29, 31, 49, 1);
       
      }
      .active{
        width: 0;
        left: 350px;
        position: absolute;
        transition: 2s;
        .active-item{
          display: none;
          padding: 50px 20px;
          div{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
            i{font-size: 35px;}
            p{margin-bottom: 0;}
            img{
              width: 50px;
              border-radius: 50%;
              height: 50px;
              object-fit: cover;

            }
          }
        }
      }
      .card-nav {
        margin: 20px;
        i {
          color: #fff;
        }
        .name{
          z-index: 1;
          .fa-bars{
            font-size: 25px;
          }
        }
      }
      .music {
        padding: 10px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;
        top: 51%;
        margin: 20px;
        .range{
          width: 100%;
          height: 5px;
          background: rgb(183, 182, 182);
          -webkit-transition: .2s;
          transition: opacity .2s;

        }
        .player{
          a{
            padding: 10px;
            font-size: 25px;
          }
          .pause-btn{
            display: none;
          }
        }
      }
    }
  }
}
